<a href="https://colab.research.google.com/github/HindJamal97/Machine_Learning/blob/main/Scarico_automatico_tassi_da_Bloomberg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files

In [ ]:
from datetime import datetime

In [ ]:
import pandas as pd

In [ ]:
import openpyxl

In [ ]:
 files.upload()

In [ ]:
 files.upload()

**Modalità di scarico delle curve con divisa EURO**

In [ ]:
#Tassi con rating A-

In [ ]:
df = pd.read_csv('/content/EUREuropeIndustrialsAmeno.csv', parse_dates=['LAST_UPDATE_DT']) #rating A-

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].dt.strftime('%d-%m-%y')

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].astype(str) + ' EUR'

In [ ]:
df["PX_LAST_EOD"] = df["PX_LAST_EOD"].astype(str)

In [ ]:
df['PX_LAST_EOD'] = df['PX_LAST_EOD'].apply(lambda x: x.replace('.', ','))

In [ ]:
Data = df.drop(columns=["DL_REQUEST_ID", "DL_REQUEST_NAME", "DL_SNAPSHOT_TZ", "DL_SNAPSHOT_START_TIME", "RC", "IDENTIFIER", "DL_SNAPSHOT_START_TIME","LAST_UPDATE_DT"])

In [ ]:
DATA = Data.transpose()

In [ ]:
DATA

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
PX_LAST,"3,76397","3,76939","3,79684","3,72219","3,59693","3,56842","3,58798","3,62015","3,68062","3,70732","3,87547","4,06474","4,2175","4,46357"

In [ ]:
file_name = 'tassi-Ameno-EUR.xlsx'

In [ ]:
DATA.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [ ]:
# opening the source excel file
wbo = openpyxl.load_workbook(file_name)

In [ ]:
#attach the ranges to the sheet
wso = wbo["Sheet1"]["B2":"O2"]

In [ ]:
# opening the destination excel file
wbd = openpyxl.load_workbook("/content/Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsx", keep_vba=True)

In [ ]:
tab_name = df.at[0, 'LAST_UPDATE_DT']

In [ ]:
#attach the ranges to the sheet
wsd = wbd[tab_name]["C4":"P4"]

In [ ]:
#step1 : pair the rows
for row1,row2 in zip(wso,wsd):
    #within the row pair, pair the cells
    for cell1, cell2 in zip(row1,row2): cell2.value = cell1.value

In [ ]:
#save document
wbd.save('Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm')

In [ ]:
#Tassi con rating BBB+

In [ ]:
df = pd.read_csv('/content/EUREuropeIndustrialsBBBpiù.csv', parse_dates=['LAST_UPDATE_DT']) #rating BBB+

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].dt.strftime('%d-%m-%y')

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].astype(str) + ' EUR'

In [ ]:
df["PX_LAST_EOD"] = df["PX_LAST_EOD"].astype(str)

In [ ]:
df['PX_LAST_EOD'] = df['PX_LAST_EOD'].apply(lambda x: x.replace('.', ','))

In [ ]:
Data = df.drop(columns=["DL_REQUEST_ID", "DL_REQUEST_NAME", "DL_SNAPSHOT_TZ", "DL_SNAPSHOT_START_TIME", "RC", "IDENTIFIER", "DL_SNAPSHOT_START_TIME","LAST_UPDATE_DT"])

In [ ]:
DATA = Data.transpose()

In [ ]:
DATA

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
PX_LAST,"3,76397","3,76939","3,79684","3,72219","3,59693","3,56842","3,58798","3,62015","3,68062","3,70732","3,87547","4,06474","4,2175","4,46357"

In [ ]:
file_name = 'tassi-BBBpiù-EUR.xlsx'

In [ ]:
DATA.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [ ]:
# opening the source excel file
wbo = openpyxl.load_workbook(file_name)

In [ ]:
#attach the ranges to the sheet
wso = wbo["Sheet1"]["B2":"O2"]

In [ ]:
# opening the destination excel file
wbd = openpyxl.load_workbook("/content/Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm", keep_vba=True)

In [ ]:
tab_name = df.at[0, 'LAST_UPDATE_DT']

In [ ]:
print(tab_name)

15-04-24 EUR

In [ ]:
#attach the ranges to the sheet
wsd = wbd[tab_name]["C5":"P5"]

In [ ]:
#step1 : pair the rows
for row1,row2 in zip(wso,wsd):
    #within the row pair, pair the cells
    for cell1, cell2 in zip(row1,row2): cell2.value = cell1.value

In [ ]:
#save document
wbd.save('Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm')

In [ ]:
#Tassi con rating BBB

In [ ]:
df = pd.read_csv('/content/EUREuropeIndustrialsBBB.csv', parse_dates=['LAST_UPDATE_DT']) #rating BBB

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].dt.strftime('%d-%m-%y')

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].astype(str) + ' EUR'

In [ ]:
df["PX_LAST_EOD"] = df["PX_LAST_EOD"].astype(str)

In [ ]:
df['PX_LAST_EOD'] = df['PX_LAST_EOD'].apply(lambda x: x.replace('.', ','))

In [ ]:
Data = df.drop(columns=["DL_REQUEST_ID", "DL_REQUEST_NAME", "DL_SNAPSHOT_TZ", "DL_SNAPSHOT_START_TIME", "RC", "IDENTIFIER", "DL_SNAPSHOT_START_TIME","LAST_UPDATE_DT"])

In [ ]:
DATA = Data.transpose()

In [ ]:
DATA

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
PX_LAST,"3,79794","3,77354","3,71234","3,5753","3,47452","3,44478","3,44555","3,51911","3,58946","3,61142","3,67446","3,84799","4,02683","4,30716"

In [ ]:
file_name = 'tassi-BBB-EUR.xlsx'

In [ ]:
DATA.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [ ]:
# opening the source excel file
wbo = openpyxl.load_workbook(file_name)

In [ ]:
#attach the ranges to the sheet
wso = wbo["Sheet1"]["B2":"O2"]

In [ ]:
# opening the destination excel file
wbd = openpyxl.load_workbook("/content/Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm", keep_vba=True)

In [ ]:
tab_name = df.at[0, 'LAST_UPDATE_DT']

In [ ]:
print(tab_name)

15-04-24 EUR

In [ ]:
#attach the ranges to the sheet
wsd = wbd[tab_name]["C6":"P6"]

In [ ]:
#step1 : pair the rows
for row1,row2 in zip(wso,wsd):
    #within the row pair, pair the cells
    for cell1, cell2 in zip(row1,row2): cell2.value = cell1.value

In [ ]:
#save document
wbd.save('Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm')

In [ ]:
#Tassi con rating BBB-

In [ ]:
df = pd.read_csv('/content/EUREuropeIndustrialsBBBmeno.csv', parse_dates=['LAST_UPDATE_DT']) #rating BBB-

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].dt.strftime('%d-%m-%y')

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].astype(str) + ' EUR'

In [ ]:
df["PX_LAST_EOD"] = df["PX_LAST_EOD"].astype(str)

In [ ]:
df['PX_LAST_EOD'] = df['PX_LAST_EOD'].apply(lambda x: x.replace('.', ','))

In [ ]:
Data = df.drop(columns=["DL_REQUEST_ID", "DL_REQUEST_NAME", "DL_SNAPSHOT_TZ", "DL_SNAPSHOT_START_TIME", "RC", "IDENTIFIER", "DL_SNAPSHOT_START_TIME","LAST_UPDATE_DT"])

In [ ]:
DATA = Data.transpose()

In [ ]:
DATA

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
PX_LAST,"3,81794","3,8023","3,74763","3,7232","3,58628","3,58715","3,65464","3,79828","3,92669","3,94613","3,97365","4,15759","4,36814","4,69469"

In [ ]:
file_name = 'tassi-BBBmeno-EUR.xlsx'

In [ ]:
DATA.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [ ]:
# opening the source excel file
wbo = openpyxl.load_workbook(file_name)

In [ ]:
#attach the ranges to the sheet
wso = wbo["Sheet1"]["B2":"O2"]

In [ ]:
# opening the destination excel file
wbd = openpyxl.load_workbook("/content/Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm", keep_vba=True)

In [ ]:
tab_name = df.at[0, 'LAST_UPDATE_DT']

In [ ]:
print(tab_name)

15-04-24 EUR

In [ ]:
#attach the ranges to the sheet
wsd = wbd[tab_name]["C7":"P7"]

In [ ]:
#step1 : pair the rows
for row1,row2 in zip(wso,wsd):
    #within the row pair, pair the cells
    for cell1, cell2 in zip(row1,row2): cell2.value = cell1.value

In [ ]:
#save document
wbd.save('Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm')

In [ ]:
#Tassi con rating BB+

In [ ]:
df = pd.read_csv('/content/EUREuropeIndustrialsBBpiù.csv', parse_dates=['LAST_UPDATE_DT']) #rating BB+

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].dt.strftime('%d-%m-%y')

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].astype(str) + ' EUR'

In [ ]:
df["PX_LAST_EOD"] = df["PX_LAST_EOD"].astype(str)

In [ ]:
df['PX_LAST_EOD'] = df['PX_LAST_EOD'].apply(lambda x: x.replace('.', ','))

In [ ]:
Data = df.drop(columns=["DL_REQUEST_ID", "DL_REQUEST_NAME", "DL_SNAPSHOT_TZ", "DL_SNAPSHOT_START_TIME", "RC", "IDENTIFIER", "DL_SNAPSHOT_START_TIME","LAST_UPDATE_DT"])

In [ ]:
DATA = Data.transpose()

In [ ]:
DATA

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
PX_LAST,"4,74535","4,77862","4,84771","4,7157","4,50286","4,45951","4,46151","4,53687","4,58919","4,64292","4,64334","4,64535","3,77193","3,92677","4,18397"

In [ ]:
file_name = 'tassi-BBpiù-EUR.xlsx'

In [ ]:
DATA.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [ ]:
# opening the source excel file
wbo = openpyxl.load_workbook(file_name)

In [ ]:
#attach the ranges to the sheet
wso = wbo["Sheet1"]["B2":"O2"]

In [ ]:
# opening the destination excel file
wbd = openpyxl.load_workbook("/content/Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm", keep_vba=True)

In [ ]:
tab_name = df.at[0, 'LAST_UPDATE_DT']

In [ ]:
print(tab_name)

15-04-24 EUR

In [ ]:
#attach the ranges to the sheet
wsd = wbd[tab_name]["C8":"P8"]

In [ ]:
#step1 : pair the rows
for row1,row2 in zip(wso,wsd):
    #within the row pair, pair the cells
    for cell1, cell2 in zip(row1,row2): cell2.value = cell1.value

In [ ]:
#save document
wbd.save('Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm')

In [ ]:
#Tassi con rating BB

In [ ]:
df = pd.read_csv('/content/EUREuropeIndustrialsBB.csv', parse_dates=['LAST_UPDATE_DT']) #rating BB

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].dt.strftime('%d-%m-%y')

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].astype(str) + ' EUR'

In [ ]:
df["PX_LAST_EOD"] = df["PX_LAST_EOD"].astype(str)

In [ ]:
df['PX_LAST_EOD'] = df['PX_LAST_EOD'].apply(lambda x: x.replace('.', ','))

In [ ]:
Data = df.drop(columns=["DL_REQUEST_ID", "DL_REQUEST_NAME", "DL_SNAPSHOT_TZ", "DL_SNAPSHOT_START_TIME", "RC", "IDENTIFIER", "DL_SNAPSHOT_START_TIME","LAST_UPDATE_DT"])

In [ ]:
DATA = Data.transpose()

In [ ]:
DATA

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
PX_LAST,"3,75794","3,73354","3,67233","3,45264","3,25874","3,19535","3,20393","3,28558","3,33218","3,37716","3,40873","3,58228","3,77193","3,92677","4,18397"

In [ ]:
file_name = 'tassi-BB-EUR.xlsx'

In [ ]:
DATA.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [ ]:
# opening the source excel file
wbo = openpyxl.load_workbook(file_name)

In [ ]:
#attach the ranges to the sheet
wso = wbo["Sheet1"]["B2":"O2"]

In [ ]:
# opening the destination excel file
wbd = openpyxl.load_workbook("/content/Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm", keep_vba=True)

In [ ]:
tab_name = df.at[0, 'LAST_UPDATE_DT']

In [ ]:
print(tab_name)

15-04-24 EUR

In [ ]:
#attach the ranges to the sheet
wsd = wbd[tab_name]["C9":"P9"]

In [ ]:
#step1 : pair the rows
for row1,row2 in zip(wso,wsd):
    #within the row pair, pair the cells
    for cell1, cell2 in zip(row1,row2): cell2.value = cell1.value

In [ ]:
#save document
wbd.save('Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm')

In [ ]:
#Tassi con rating BB-

In [ ]:
df = pd.read_csv('/content/EUREuropeIndustrialsBBmeno.csv', parse_dates=['LAST_UPDATE_DT']) #rating BB-

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].dt.strftime('%d-%m-%y')

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].astype(str) + ' EUR'

In [ ]:
df["PX_LAST_EOD"] = df["PX_LAST_EOD"].astype(str)

In [ ]:
df['PX_LAST_EOD'] = df['PX_LAST_EOD'].apply(lambda x: x.replace('.', ','))

In [ ]:
Data = df.drop(columns=["DL_REQUEST_ID", "DL_REQUEST_NAME", "DL_SNAPSHOT_TZ", "DL_SNAPSHOT_START_TIME", "RC", "IDENTIFIER", "DL_SNAPSHOT_START_TIME","LAST_UPDATE_DT"])

In [ ]:
DATA = Data.transpose()

In [ ]:
DATA

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
PX_LAST,"3,76397","3,76939","3,79684","3,72219","3,59693","3,56842","3,58798","3,62015","3,68062","3,70732","3,87547","4,06474","4,2175","4,46357"

In [ ]:
file_name = 'tassi-BBmeno-EUR.xlsx'

In [ ]:
DATA.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [ ]:
# opening the source excel file
wbo = openpyxl.load_workbook(file_name)

In [ ]:
#attach the ranges to the sheet
wso = wbo["Sheet1"]["B2":"O2"]

In [ ]:
# opening the destination excel file
wbd = openpyxl.load_workbook("/content/Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm", keep_vba=True)

In [ ]:
tab_name = df.at[0, 'LAST_UPDATE_DT']

In [ ]:
print(tab_name)

15-04-24 EUR

In [ ]:
#attach the ranges to the sheet
wsd = wbd[tab_name]["C10":"P10"]

In [ ]:
#step1 : pair the rows
for row1,row2 in zip(wso,wsd):
    #within the row pair, pair the cells
    for cell1, cell2 in zip(row1,row2): cell2.value = cell1.value

In [ ]:
#save document
wbd.save('Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm')

In [ ]:
#Tassi con rating B+

In [ ]:
df = pd.read_csv('/content/EUREuropeIndustrialsBpiù.csv', parse_dates=['LAST_UPDATE_DT']) #rating B+

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].dt.strftime('%d-%m-%y')

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].astype(str) + ' EUR'

In [ ]:
df["PX_LAST_EOD"] = df["PX_LAST_EOD"].astype(str)

In [ ]:
df['PX_LAST_EOD'] = df['PX_LAST_EOD'].apply(lambda x: x.replace('.', ','))

In [ ]:
Data = df.drop(columns=["DL_REQUEST_ID", "DL_REQUEST_NAME", "DL_SNAPSHOT_TZ", "DL_SNAPSHOT_START_TIME", "RC", "IDENTIFIER", "DL_SNAPSHOT_START_TIME","LAST_UPDATE_DT"])

In [ ]:
DATA = Data.transpose()

In [ ]:
DATA

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
PX_LAST,"3,76397","3,76939","3,79684","3,72219","3,59693","3,56842","3,58798","3,62015","3,68062","3,70732","3,87547","4,06474","4,2175","4,46357"

In [ ]:
file_name = 'tassi-Bpiù-EUR.xlsx'

In [ ]:
DATA.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [ ]:
# opening the source excel file
wbo = openpyxl.load_workbook(file_name)

In [ ]:
#attach the ranges to the sheet
wso = wbo["Sheet1"]["B2":"O2"]

In [ ]:
# opening the destination excel file
wbd = openpyxl.load_workbook("/content/Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm", keep_vba=True)

In [ ]:
tab_name = df.at[0, 'LAST_UPDATE_DT']

In [ ]:
print(tab_name)

15-04-24 EUR

In [ ]:
#attach the ranges to the sheet
wsd = wbd[tab_name]["C11":"P11"]

In [ ]:
#step1 : pair the rows
for row1,row2 in zip(wso,wsd):
    #within the row pair, pair the cells
    for cell1, cell2 in zip(row1,row2): cell2.value = cell1.value

In [ ]:
#save document
wbd.save('Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm')

In [ ]:
#Tassi con rating B

In [ ]:
df = pd.read_csv('/content/EUREuropeIndustrialsB.csv', parse_dates=['LAST_UPDATE_DT']) #rating B

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].dt.strftime('%d-%m-%y')

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].astype(str) + ' EUR'

In [ ]:
df["PX_LAST_EOD"] = df["PX_LAST_EOD"].astype(str)

In [ ]:
df['PX_LAST_EOD'] = df['PX_LAST_EOD'].apply(lambda x: x.replace('.', ','))

In [ ]:
Data = df.drop(columns=["DL_REQUEST_ID", "DL_REQUEST_NAME", "DL_SNAPSHOT_TZ", "DL_SNAPSHOT_START_TIME", "RC", "IDENTIFIER", "DL_SNAPSHOT_START_TIME","LAST_UPDATE_DT"])

In [ ]:
DATA = Data.transpose()

In [ ]:
DATA

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
PX_LAST,"3,76397","3,76939","3,79684","3,72219","3,59693","3,56842","3,58798","3,62015","3,68062","3,70732","3,87547","4,06474","4,2175","4,46357"

In [ ]:
file_name = 'tassi-B-EUR.xlsx'

In [ ]:
DATA.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [ ]:
# opening the source excel file
wbo = openpyxl.load_workbook(file_name)

In [ ]:
#attach the ranges to the sheet
wso = wbo["Sheet1"]["B2":"O2"]

In [ ]:
# opening the destination excel file
wbd = openpyxl.load_workbook("/content/Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm", keep_vba=True)

In [ ]:
tab_name = df.at[0, 'LAST_UPDATE_DT']

In [ ]:
print(tab_name)

15-04-24 EUR

In [ ]:
#attach the ranges to the sheet
wsd = wbd[tab_name]["C12":"P12"]

In [ ]:
#step1 : pair the rows
for row1,row2 in zip(wso,wsd):
    #within the row pair, pair the cells
    for cell1, cell2 in zip(row1,row2): cell2.value = cell1.value

In [ ]:
#save document
wbd.save('Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm')

**Modalità di scarico per le curve con divisa USD**

In [ ]:
#Tassi con rating A-

In [ ]:
df = pd.read_csv('/content/USDUSAIndustrialsAmeno.csv', parse_dates=['LAST_UPDATE_DT']) #rating A-

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].dt.strftime('%d-%m-%y')

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].astype(str) + ' USD'

In [ ]:
df["PX_LAST_EOD"] = df["PX_LAST_EOD"].astype(str)

In [ ]:
df['PX_LAST_EOD'] = df['PX_LAST_EOD'].apply(lambda x: x.replace('.', ','))

In [ ]:
Data = df.drop(columns=["DL_REQUEST_ID", "DL_REQUEST_NAME", "DL_SNAPSHOT_TZ", "DL_SNAPSHOT_START_TIME", "RC", "IDENTIFIER", "DL_SNAPSHOT_START_TIME","LAST_UPDATE_DT"])

In [ ]:
DATA = Data.transpose()

In [ ]:
DATA

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
PX_LAST,"3,76397","3,76939","3,79684","3,72219","3,59693","3,56842","3,58798","3,62015","3,68062","3,70732","3,87547","4,06474","4,2175","4,46357"

In [ ]:
file_name = 'tassi-Ameno-USD.xlsx'

In [ ]:
DATA.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [ ]:
# opening the source excel file
wbo = openpyxl.load_workbook(file_name)

In [ ]:
#attach the ranges to the sheet
wso = wbo["Sheet1"]["B2":"O2"]

In [ ]:
# opening the destination excel file
wbd = openpyxl.load_workbook("/content/Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm", keep_vba=True)

In [ ]:
tab_name = df.at[0, 'LAST_UPDATE_DT']

In [ ]:
#attach the ranges to the sheet
wsd = wbd[tab_name]["C4":"P4"]

In [ ]:
#step1 : pair the rows
for row1,row2 in zip(wso,wsd):
    #within the row pair, pair the cells
    for cell1, cell2 in zip(row1,row2): cell2.value = cell1.value

In [ ]:
#save document
wbd.save('Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm')

In [ ]:
#Tassi con rating BBB+

In [ ]:
df = pd.read_csv('/content/USDUSAIndustrialsBBBpiù.csv', parse_dates=['LAST_UPDATE_DT']) #rating BBB+

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].dt.strftime('%d-%m-%y')

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].astype(str) + ' USD'

In [ ]:
df["PX_LAST_EOD"] = df["PX_LAST_EOD"].astype(str)

In [ ]:
df['PX_LAST_EOD'] = df['PX_LAST_EOD'].apply(lambda x: x.replace('.', ','))

In [ ]:
Data = df.drop(columns=["DL_REQUEST_ID", "DL_REQUEST_NAME", "DL_SNAPSHOT_TZ", "DL_SNAPSHOT_START_TIME", "RC", "IDENTIFIER", "DL_SNAPSHOT_START_TIME","LAST_UPDATE_DT"])

In [ ]:
DATA = Data.transpose()

In [ ]:
DATA

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
PX_LAST,"3,76397","3,76939","3,79684","3,72219","3,59693","3,56842","3,58798","3,62015","3,68062","3,70732","3,87547","4,06474","4,2175","4,46357"

In [ ]:
file_name = 'tassi-BBBpiù-USD.xlsx'

In [ ]:
DATA.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [ ]:
# opening the source excel file
wbo = openpyxl.load_workbook(file_name)

In [ ]:
#attach the ranges to the sheet
wso = wbo["Sheet1"]["B2":"O2"]

In [ ]:
# opening the destination excel file
wbd = openpyxl.load_workbook("/content/Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm", keep_vba=True)

In [ ]:
tab_name = df.at[0, 'LAST_UPDATE_DT']

In [ ]:
print(tab_name)

15-04-24 USD

In [ ]:
#attach the ranges to the sheet
wsd = wbd[tab_name]["C5":"P5"]

In [ ]:
#step1 : pair the rows
for row1,row2 in zip(wso,wsd):
    #within the row pair, pair the cells
    for cell1, cell2 in zip(row1,row2): cell2.value = cell1.value

In [ ]:
#save document
wbd.save('Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm')

In [ ]:
#Tassi con rating BBB

In [ ]:
df = pd.read_csv('/content/USDUSAIndustrialsBBB.csv', parse_dates=['LAST_UPDATE_DT']) #rating BBB

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].dt.strftime('%d-%m-%y')

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].astype(str) + ' USD'

In [ ]:
df["PX_LAST_EOD"] = df["PX_LAST_EOD"].astype(str)

In [ ]:
df['PX_LAST_EOD'] = df['PX_LAST_EOD'].apply(lambda x: x.replace('.', ','))

In [ ]:
Data = df.drop(columns=["DL_REQUEST_ID", "DL_REQUEST_NAME", "DL_SNAPSHOT_TZ", "DL_SNAPSHOT_START_TIME", "RC", "IDENTIFIER", "DL_SNAPSHOT_START_TIME","LAST_UPDATE_DT"])

In [ ]:
DATA = Data.transpose()

In [ ]:
DATA

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
PX_LAST,"3,79794","3,77354","3,71234","3,5753","3,47452","3,44478","3,44555","3,51911","3,58946","3,61142","3,67446","3,84799","4,02683","4,30716"

In [ ]:
file_name = 'tassi-BBB-USD.xlsx'

In [ ]:
DATA.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [ ]:
# opening the source excel file
wbo = openpyxl.load_workbook(file_name)

In [ ]:
#attach the ranges to the sheet
wso = wbo["Sheet1"]["B2":"O2"]

In [ ]:
# opening the destination excel file
wbd = openpyxl.load_workbook("/content/Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm", keep_vba=True)

In [ ]:
tab_name = df.at[0, 'LAST_UPDATE_DT']

In [ ]:
print(tab_name)

15-04-24 USD

In [ ]:
#attach the ranges to the sheet
wsd = wbd[tab_name]["C6":"P6"]

In [ ]:
#step1 : pair the rows
for row1,row2 in zip(wso,wsd):
    #within the row pair, pair the cells
    for cell1, cell2 in zip(row1,row2): cell2.value = cell1.value

In [ ]:
#save document
wbd.save('Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm')

In [ ]:
#Tassi con rating BBB-

In [ ]:
df = pd.read_csv('/content/USDUSAIndustrialsBBBmeno.csv', parse_dates=['LAST_UPDATE_DT']) #rating BBB-

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].dt.strftime('%d-%m-%y')

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].astype(str) + ' USD'

In [ ]:
df["PX_LAST_EOD"] = df["PX_LAST_EOD"].astype(str)

In [ ]:
df['PX_LAST_EOD'] = df['PX_LAST_EOD'].apply(lambda x: x.replace('.', ','))

In [ ]:
Data = df.drop(columns=["DL_REQUEST_ID", "DL_REQUEST_NAME", "DL_SNAPSHOT_TZ", "DL_SNAPSHOT_START_TIME", "RC", "IDENTIFIER", "DL_SNAPSHOT_START_TIME","LAST_UPDATE_DT"])

In [ ]:
DATA = Data.transpose()

In [ ]:
DATA

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
PX_LAST,"3,81794","3,8023","3,74763","3,7232","3,58628","3,58715","3,65464","3,79828","3,92669","3,94613","3,97365","4,15759","4,36814","4,69469"

In [ ]:
file_name = 'tassi-BBBmeno-USD.xlsx'

In [ ]:
DATA.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [ ]:
# opening the source excel file
wbo = openpyxl.load_workbook(file_name)

In [ ]:
#attach the ranges to the sheet
wso = wbo["Sheet1"]["B2":"O2"]

In [ ]:
# opening the destination excel file
wbd = openpyxl.load_workbook("/content/Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm", keep_vba=True)

In [ ]:
tab_name = df.at[0, 'LAST_UPDATE_DT']

In [ ]:
print(tab_name)

15-04-24 USD

In [ ]:
#attach the ranges to the sheet
wsd = wbd[tab_name]["C7":"P7"]

In [ ]:
#step1 : pair the rows
for row1,row2 in zip(wso,wsd):
    #within the row pair, pair the cells
    for cell1, cell2 in zip(row1,row2): cell2.value = cell1.value

In [ ]:
#save document
wbd.save('Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm')

In [ ]:
#Tassi con rating BB+

In [ ]:
df = pd.read_csv('/content/USDUSAIndustrialsBBpiù.csv', parse_dates=['LAST_UPDATE_DT']) #rating BB+

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].dt.strftime('%d-%m-%y')

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].astype(str) + ' USD'

In [ ]:
df["PX_LAST_EOD"] = df["PX_LAST_EOD"].astype(str)

In [ ]:
df['PX_LAST_EOD'] = df['PX_LAST_EOD'].apply(lambda x: x.replace('.', ','))

In [ ]:
Data = df.drop(columns=["DL_REQUEST_ID", "DL_REQUEST_NAME", "DL_SNAPSHOT_TZ", "DL_SNAPSHOT_START_TIME", "RC", "IDENTIFIER", "DL_SNAPSHOT_START_TIME","LAST_UPDATE_DT"])

In [ ]:
DATA = Data.transpose()

In [ ]:
DATA

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
PX_LAST,"4,74535","4,77862","4,84771","4,7157","4,50286","4,45951","4,46151","4,53687","4,58919","4,64292","4,64334","4,64535","3,77193","3,92677","4,18397"

In [ ]:
file_name = 'tassi-BBpiù-USD.xlsx'

In [ ]:
DATA.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [ ]:
# opening the source excel file
wbo = openpyxl.load_workbook(file_name)

In [ ]:
#attach the ranges to the sheet
wso = wbo["Sheet1"]["B2":"O2"]

In [ ]:
# opening the destination excel file
wbd = openpyxl.load_workbook("/content/Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm", keep_vba=True)

In [ ]:
tab_name = df.at[0, 'LAST_UPDATE_DT']

In [ ]:
print(tab_name)

15-04-24 USD

In [ ]:
#attach the ranges to the sheet
wsd = wbd[tab_name]["C8":"P8"]

In [ ]:
#step1 : pair the rows
for row1,row2 in zip(wso,wsd):
    #within the row pair, pair the cells
    for cell1, cell2 in zip(row1,row2): cell2.value = cell1.value

In [ ]:
#save document
wbd.save('Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm')

In [ ]:
#Tassi con rating BB

In [ ]:
df = pd.read_csv('/content/USDUSAIndustrialsBB.csv', parse_dates=['LAST_UPDATE_DT']) #rating BB

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].dt.strftime('%d-%m-%y')

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].astype(str) + ' USD'

In [ ]:
df["PX_LAST_EOD"] = df["PX_LAST_EOD"].astype(str)

In [ ]:
df['PX_LAST_EOD'] = df['PX_LAST_EOD'].apply(lambda x: x.replace('.', ','))

In [ ]:
Data = df.drop(columns=["DL_REQUEST_ID", "DL_REQUEST_NAME", "DL_SNAPSHOT_TZ", "DL_SNAPSHOT_START_TIME", "RC", "IDENTIFIER", "DL_SNAPSHOT_START_TIME","LAST_UPDATE_DT"])

In [ ]:
DATA = Data.transpose()

In [ ]:
DATA

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
PX_LAST,"3,75794","3,73354","3,67233","3,45264","3,25874","3,19535","3,20393","3,28558","3,33218","3,37716","3,40873","3,58228","3,77193","3,92677","4,18397"

In [ ]:
file_name = 'tassi-BB-USD.xlsx'

In [ ]:
DATA.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [ ]:
# opening the source excel file
wbo = openpyxl.load_workbook(file_name)

In [ ]:
#attach the ranges to the sheet
wso = wbo["Sheet1"]["B2":"O2"]

In [ ]:
# opening the destination excel file
wbd = openpyxl.load_workbook("/content/Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm", keep_vba=True)

In [ ]:
tab_name = df.at[0, 'LAST_UPDATE_DT']

In [ ]:
print(tab_name)

15-04-24 USD

In [ ]:
#attach the ranges to the sheet
wsd = wbd[tab_name]["C9":"P9"]

In [ ]:
#step1 : pair the rows
for row1,row2 in zip(wso,wsd):
    #within the row pair, pair the cells
    for cell1, cell2 in zip(row1,row2): cell2.value = cell1.value

In [ ]:
#save document
wbd.save('Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm')

In [ ]:
#Tassi con rating BB-

In [ ]:
df = pd.read_csv('/content/USDUSAIndustrialsBBmeno.csv', parse_dates=['LAST_UPDATE_DT']) #rating BB-

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].dt.strftime('%d-%m-%y')

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].astype(str) + ' USD'

In [ ]:
df["PX_LAST_EOD"] = df["PX_LAST_EOD"].astype(str)

In [ ]:
df['PX_LAST_EOD'] = df['PX_LAST_EOD'].apply(lambda x: x.replace('.', ','))

In [ ]:
Data = df.drop(columns=["DL_REQUEST_ID", "DL_REQUEST_NAME", "DL_SNAPSHOT_TZ", "DL_SNAPSHOT_START_TIME", "RC", "IDENTIFIER", "DL_SNAPSHOT_START_TIME","LAST_UPDATE_DT"])

In [ ]:
DATA = Data.transpose()

In [ ]:
DATA

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
PX_LAST,"3,76397","3,76939","3,79684","3,72219","3,59693","3,56842","3,58798","3,62015","3,68062","3,70732","3,87547","4,06474","4,2175","4,46357"

In [ ]:
file_name = 'tassi-BBmeno-USD.xlsx'

In [ ]:
DATA.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [ ]:
# opening the source excel file
wbo = openpyxl.load_workbook(file_name)

In [ ]:
#attach the ranges to the sheet
wso = wbo["Sheet1"]["B2":"O2"]

In [ ]:
# opening the destination excel file
wbd = openpyxl.load_workbook("/content/Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm", keep_vba=True)

In [ ]:
tab_name = df.at[0, 'LAST_UPDATE_DT']

In [ ]:
print(tab_name)

15-04-24 USD

In [ ]:
#attach the ranges to the sheet
wsd = wbd[tab_name]["C10":"P10"]

In [ ]:
#step1 : pair the rows
for row1,row2 in zip(wso,wsd):
    #within the row pair, pair the cells
    for cell1, cell2 in zip(row1,row2): cell2.value = cell1.value

In [ ]:
#save document
wbd.save('Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm')

In [ ]:
#Tassi con rating B+

In [ ]:
df = pd.read_csv('/content/USDUSAIndustrialsBpiù.csv', parse_dates=['LAST_UPDATE_DT']) #rating B+

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].dt.strftime('%d-%m-%y')

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].astype(str) + ' USD'

In [ ]:
df["PX_LAST_EOD"] = df["PX_LAST_EOD"].astype(str)

In [ ]:
df['PX_LAST_EOD'] = df['PX_LAST_EOD'].apply(lambda x: x.replace('.', ','))

In [ ]:
Data = df.drop(columns=["DL_REQUEST_ID", "DL_REQUEST_NAME", "DL_SNAPSHOT_TZ", "DL_SNAPSHOT_START_TIME", "RC", "IDENTIFIER", "DL_SNAPSHOT_START_TIME","LAST_UPDATE_DT"])

In [ ]:
DATA = Data.transpose()

In [ ]:
DATA

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
PX_LAST,"3,76397","3,76939","3,79684","3,72219","3,59693","3,56842","3,58798","3,62015","3,68062","3,70732","3,87547","4,06474","4,2175","4,46357"

In [ ]:
file_name = 'tassi-Bpiù-USD.xlsx'

In [ ]:
DATA.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [ ]:
# opening the source excel file
wbo = openpyxl.load_workbook(file_name)

In [ ]:
#attach the ranges to the sheet
wso = wbo["Sheet1"]["B2":"O2"]

In [ ]:
# opening the destination excel file
wbd = openpyxl.load_workbook("/content/Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm", keep_vba=True)

In [ ]:
tab_name = df.at[0, 'LAST_UPDATE_DT']

In [ ]:
print(tab_name)

15-04-24 USD

In [ ]:
#attach the ranges to the sheet
wsd = wbd[tab_name]["C11":"P11"]

In [ ]:
#step1 : pair the rows
for row1,row2 in zip(wso,wsd):
    #within the row pair, pair the cells
    for cell1, cell2 in zip(row1,row2): cell2.value = cell1.value

In [ ]:
#save document
wbd.save('Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm')

In [ ]:
#Tassi con rating B

In [ ]:
df = pd.read_csv('/content/USDUSAIndustrialsB.csv', parse_dates=['LAST_UPDATE_DT']) #rating B

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].dt.strftime('%d-%m-%y')

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].astype(str) + ' USD'

In [ ]:
df["PX_LAST_EOD"] = df["PX_LAST_EOD"].astype(str)

In [ ]:
df['PX_LAST_EOD'] = df['PX_LAST_EOD'].apply(lambda x: x.replace('.', ','))

In [ ]:
Data = df.drop(columns=["DL_REQUEST_ID", "DL_REQUEST_NAME", "DL_SNAPSHOT_TZ", "DL_SNAPSHOT_START_TIME", "RC", "IDENTIFIER", "DL_SNAPSHOT_START_TIME","LAST_UPDATE_DT"])

In [ ]:
DATA = Data.transpose()

In [ ]:
DATA

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
PX_LAST,"3,76397","3,76939","3,79684","3,72219","3,59693","3,56842","3,58798","3,62015","3,68062","3,70732","3,87547","4,06474","4,2175","4,46357"

In [ ]:
file_name = 'tassi-B-USD.xlsx'

In [ ]:
DATA.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [ ]:
# opening the source excel file
wbo = openpyxl.load_workbook(file_name)

In [ ]:
#attach the ranges to the sheet
wso = wbo["Sheet1"]["B2":"O2"]

In [ ]:
# opening the destination excel file
wbd = openpyxl.load_workbook("/content/Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm", keep_vba=True)

In [ ]:
tab_name = df.at[0, 'LAST_UPDATE_DT']

In [ ]:
print(tab_name)

15-04-24 USD

In [ ]:
#attach the ranges to the sheet
wsd = wbd[tab_name]["C12":"P12"]

In [ ]:
#step1 : pair the rows
for row1,row2 in zip(wso,wsd):
    #within the row pair, pair the cells
    for cell1, cell2 in zip(row1,row2): cell2.value = cell1.value

In [ ]:
#save document
wbd.save('Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm')

In [ ]:
#Tassi con rating B-

In [ ]:
df = pd.read_csv('/content/USDUSAIndustrialsBmeno.csv', parse_dates=['LAST_UPDATE_DT']) #rating B-

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].dt.strftime('%d-%m-%y')

In [ ]:
df['LAST_UPDATE_DT'] = df['LAST_UPDATE_DT'].astype(str) + ' USD'

In [ ]:
df["PX_LAST_EOD"] = df["PX_LAST_EOD"].astype(str)

In [ ]:
df['PX_LAST_EOD'] = df['PX_LAST_EOD'].apply(lambda x: x.replace('.', ','))

In [ ]:
Data = df.drop(columns=["DL_REQUEST_ID", "DL_REQUEST_NAME", "DL_SNAPSHOT_TZ", "DL_SNAPSHOT_START_TIME", "RC", "IDENTIFIER", "DL_SNAPSHOT_START_TIME","LAST_UPDATE_DT"])

In [ ]:
DATA = Data.transpose()

In [ ]:
DATA

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
PX_LAST,"3,76397","3,76939","3,79684","3,72219","3,59693","3,56842","3,58798","3,62015","3,68062","3,70732","3,87547","4,06474","4,2175","4,46357"

In [ ]:
file_name = 'tassi-Bmeno-USD.xlsx'

In [ ]:
DATA.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [ ]:
# opening the source excel file
wbo = openpyxl.load_workbook(file_name)

In [ ]:
#attach the ranges to the sheet
wso = wbo["Sheet1"]["B2":"O2"]

In [ ]:
# opening the destination excel file
wbd = openpyxl.load_workbook("/content/Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm", keep_vba=True)

In [ ]:
tab_name = df.at[0, 'LAST_UPDATE_DT']

In [ ]:
print(tab_name)

15-04-24 USD

In [ ]:
#attach the ranges to the sheet
wsd = wbd[tab_name]["C13":"P13"]

In [ ]:
#step1 : pair the rows
for row1,row2 in zip(wso,wsd):
    #within the row pair, pair the cells
    for cell1, cell2 in zip(row1,row2): cell2.value = cell1.value

In [ ]:
#save document
wbd.save('Condizioni economiche Fin. IC BREVE E MLT Eni II trimestre 2024.xlsm')